# Unnecessary directories
/node_modules
/out
/include

# I do not include assets when I make open source projects
# I supposed to upload it somehow but it caused alot of issues
# when I decided to commit it on Git
/assets

# Dump files
*.tsbuildinfo

# Logs
yarn-error.log
